.footer{
  margin: auto;
  text-align: center;
}
.title {
  font-size: 36px;
  font-weight: bolder;
  cursor: pointer;
  color: rgb(219, 24, 24);
}
.title > a {
  text-decoration: none;
}
.title > a:visited {
  color: rgb(219, 24, 24);
}
.name {
  transition: 0.6s ease-in;
  color: rgb(255, 255, 255);
}